html
  font-size: 16px

@media (max-width: 560px)
  html
    font-size: 10px

body
  background-color: $white
  color: $white
  font-family: 'Lato', sans-serif
  font-weight: 200
  padding: 0
  margin: 0

#principal
  &:before
    transition: all 0.4s
    position: fixed
    content: " "
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: block
    visibility: hidden
    z-index: 6
  &.active:before
    visibility: visible
    position: fixed
    content: " "
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: block
    z-index: 6
    background-color: rgba(0,0,0,0.5)

  // mix-blend-mode: multiply

.center_block
  text-align: center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.bottom_block
  text-align: center
  position: absolute
  bottom: 10px
  left: 50%
  transform: translateX(-50%)

.screen
  height: 100vh
  position: relative

  &.half
    height: 50vh

  &.color1
    background-color: $color1

  &.color2
    background-color: $color2

// animations
.vertical_pulsate
  animation: vertical_pulsate 3s infinite

@keyframes vertical_pulsate
  0%
    transform: translate(-50%, 0px)

  80%
    transform: translate(-50%, 0px)

  85%
    transform: translate(-50%, 10px)

  90%
    transform: translate(-50%, 0px)

  95%
    transform: translate(-50%, 10px)

  100%
    transform: translate(-50%, 0px)

// typography
p
  font-size: 20px
  margin-bottom: 10px
  margin-top: 0px

a
  color: $white

.huge
  font-size: 75px
  font-weight: 100

// lists
ul
  text-align: left

li
  list-style-type: none
#whatsapp
  position: fixed
  z-index: 5
  right: 16px
  top: 10px
  cursor: pointer
  transition: all 0.4s
  &:hover
    transform: scale(1.2)

.section
  .slide:before
    position: absolute
    content: " "
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: block
    z-index: 1
    background-color: rgba(0,0,0,0.1)
    mix-blend-mode: multiply
  .slide
    .fp-tableCell
      z-index: 2
      position: relative


#agendarcita
  .link
    width: 100%

    p
      text-align: right
  // .form-group
  //   text-align: right
  #agendar-error
    display: inline-block
    width: 167px
  #agendar-enviar
    display: inline-block
  .form-group
    input, textarea
      background: white
      border-radius: 0px
      border: none
    input
      height: 50px
      margin-bottom: 20px
    textarea
      height: 114px
      margin-bottom: 24px
  .boton
    display: block
    padding: 14px
    text-decoration: none
    width: 94px
    height: 50px
    margin-left: auto
    border: 4px solid #FFFFFF
    box-sizing: border-box
    background-color: transparent
    color: #fff
    font-family: Lato
    font-style: normal
    font-weight: 900
    line-height: normal
    font-size: 14px
    letter-spacing: 0.1em
    cursor: pointer
  position: absolute
  bottom: 0
  right: 32px
  z-index: 5
  width: 320px
  &.active
    .agendarcita-btn
      img
        transform: scaleY(1)
    .agendarcita-form
      padding: 27px
      height: 475px
  .agendarcita-btn
    background-color: #0B1924
    border-top: 4px solid $naranja
    width: 320px
    padding-top: 29px
    padding-bottom: 29px
    padding-left: 46px
    cursor: pointer
    p
      font-family: Lato
      font-style: normal
      font-weight: 800
      line-height: normal
      font-size: 20px
      letter-spacing: 0.05em
      img
        padding-left: 30px
        transform: scaleY(-1)
  .agendarcita-form
    height: 0px
    width: 320px
    background: rgba(1,1,1,0.5)

    overflow: hidden
    transition: all 0.4s