#menu
  position: fixed
  z-index: 3
  left: 10px
  top: 10px
  cursor: pointer
  &.active
    .menu-btn
  .menu-btn
    height: 80px
    display: block
    float: left
    &.hide
      display: none

  .logo
    height: 80px
    display: block
    float: left
    background: #fff
    padding: 21px 28px 17px 32px