#quehay-mapa
  .que-titulo
    position: relative
    display: flex
    align-items: center
    justify-content: center
    .que-texto
      font-family: Lato
      font-style: normal
      font-weight: 300
      line-height: normal
      font-size: 60px
      text-align: center
      letter-spacing: 0.05em
      color: #E8603B
      margin-top: 46px
      margin-bottom: 36px
  .quehay
    position: relative
    height: 580px
    padding: 20px
    .quehay-menu
      height: 100%
      
      .quehay-boton
        height: 130px
        // width: 130px
        padding: 15%
        margin-bottom: 10px
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        background-color: #F3F3F3
        cursor: pointer
        &:hover
          img
            filter: brightness(100)
          &.restaurantes
            background-color: #E34750
          &.cafeterias
            background-color: #8B673D
          &.bares
            background-color: #8961BC
          &.supermercados
            background-color: #E9B041
          &.escuelas
            background-color: #80171D
          &.hospitales
            background-color: #4CC8D9
          &.gasolineras
            background-color: #1F687F
          &.bancos
            background-color: #5B7F1F
          &.c-comerciales
            background-color: #CB67A3
            
      .quehay-texto
        font-family: Lato
        font-style: normal
        font-weight: 900
        line-height: normal
        font-size: 12px
        text-align: center
        letter-spacing: 0.05em
        color: #8F8F8F
    .quehay-mapa
      height: 500px
      background-color: #E8603B
      .quehay-marcador-lugar
        &.restaurantes
          background-color: #E34750
        &.cafeterias
          background-color: #8B673D
        &.bares
          background-color: #8961BC
        &.supermercados
          background-color: #E9B041
        &.escuelas
          background-color: #80171D
        &.hospitales
          background-color: #4CC8D9
        &.gasolineras
          background-color: #1F687F
        &.bancos
          background-color: #5B7F1F
        &.c-comerciales
          background-color: #CB67A3

      .quehay-marcador-bautek