<div id="agendarcita" class="active">
  <div class="agendarcita-btn">
    <p>
      AGENDA TU CITA <img src="/assets/img/arrow-down.svg" alt="">
    </p>
  </div>
  <div class="agendarcita-form">
    <form>
      <div class="form-group">

        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
      </div>
      <div class="form-group">

        <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="Email">
      </div>
      <div class="form-group">

        <input type="tel" class="form-control" id="formGroupExampleInput2" placeholder="Número Celular">
      </div>
      <div class="form-group">

        <textarea type="text" class="form-control" id="formGroupExampleInput2" placeholder="Número Celular">
          </textarea>
      </div>
      <div class="form-group">
        <a href="#" class="boton">ENVIAR</a>
      </div>
    </form>
  </div>
</div>