<div class="container-fluid" id="anuncio">
  <div class="row">
    <div class="col-6 imagen-secc" style="background-image: url(./assets/img/imagen_anuncio.jpg)">
      {{!-- <img src="./assets/img/imagen_anuncio.jpg" alt=""> --}}
    </div>
    <div class="col-6 text-secc">
      <div>
        <h1 class="titulo">RINCÓN DE ALCÁNTARA</h1>
      </div>
      <div>
        <h3 class="comentario">
          Con un estilo clásico, moderno y elegante, Rincón de Alcántara es el nuevo complejo familiar que combina la
          tranquilidad de la naturaleza con la conveniencia de una zona residencial estratégicamente ubicada.
        </h3>
      </div>
      <button class="boton">CONOCER MÁS</button>
    </div>
  </div>

</div>