<div class="container-fluid" id="anuncio">
  <div class="row no-gutters anim">
    <div class="col-xs-12 col-md-6">
      <div class="imagen-secc parallax" style="background-image: url(/assets/img/rincon_alcantara.jpg)">
        <a class="rollover-secc" href="/rincon-de-alcantara">
          <img src="/assets/img/mas.svg" alt="">
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="texto-secc">
        <div class="texto-contenedor">
          <h1 class="titulo">RINCÓN DE ALCÁNTARA</h1>
          <h3 class="comentario">
            Con un estilo clásico, moderno y elegante, Rincón de Alcántara es el nuevo complejo familiar que combina la
            tranquilidad de la naturaleza con la conveniencia de una zona residencial estratégicamente ubicada.
          </h3>
          <a class="boton" href="/rincon-de-alcantara">
            <p class="text">
              CONOCER MÁS
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>