<div class="seccion" id="asesoria-intro">
  <div class="contenedor section">
    {{!-- SLIDE ASESORIA --}}
    <div class="slide cont-principal" style="background-image: url(/assets/img/slide-asesoria.jpg)">
      <div>
        <h2 class="subtitulo">
          <img src="/assets/img/slider-vector-asesoria.svg" alt="">
        </h2>
      </div>
      <div>
        <h1 class="titulo">ASESORÍA DE CRÉDITO</h1>
      </div>
      <div>
        <h3 class="comentario">Brindamos asesoría para obtner el financiamiento de tu nueva casa.</h3>
      </div>
    </div>

  </div>
  <div class="breadcrumb">
    <p>
      <a href="/"> INICIO </a> > CASAS A TU MEDIDA
    </p>
  </div>
  {{#>agendacita}}
  {{/agendacita}}
</div>
<script>
  new fullpage("#asesoria-intro", {
    licenseKey: "OPEN-SOURCE-GPLV3-LICENSE",
    autoScrolling: false,
    fitToSection: false,
  });

</script>