<div class="container-fluid" id="atumedida-servicios">
  <div class="row servicio no-gutters">
    <div class="col-5">
      <div class="texto-secc">

        <div class="texto-contenedor">
          <h1 class="titulo">UN NUEVO COMIENZO</h1>

          <h2 class="subtitulo">
            No se trata de un espacio para habitar sino de un hogar donde se crean memorias y experiencias que marcan
            vidas.
          </h2>

          <h3 class="comentario">
            Sin importar la etapa de la vida en la que te encuentres, sabemos lo importante que es para ti vivir en la
            casa que
            siempre has soñado. Por esta razón, en Bautek trabajamos para ofrecerte el mejor servicio y asesoramiento
            desde el
            primer momento, escuchando tus ideas y proponiendo la solución que mejor se adecue a tus deseos y garantice
            la
            satisfacción total al final de tu proyecto.
          </h3>


        </div>
      </div>
    </div>
    <div class="col-7 imagen-secc" style="background-image: url(/assets/img/imagen_seccion1.jpg)">
      <!-- <div class="rollover-secc">
        <img src="/assets/img/mas.svg" alt="">
      </div> -->
    </div>
  </div>
  <div class="row servicio no-gutters">
    <div class="col-6 imagen-secc" style="background-image: url(/assets/img/atumedida-img-02.jpg);">

      <!-- <div class="rollover-secc">
        <img src="/assets/img/mas.svg" alt="">
      </div> -->
    </div>
    <div class="col-6">
      <div class="texto-secc">

        <div class="texto-contenedor">
          <h1 class="titulo">LA DECISIÓN ES TUYA</h1>

          <h2 class="subtitulo">Diseñamos tu proyecto desde cero, de acuerdo a tu gusto y estilo.</h2>
          <h3 class="comentario">
            Personalizamos hasta el más mínimo detalle, con opciones que van desde el estilo arquitectónico, la
            distribución de los espacios, hasta los acabados interiores y exteriores, absolutamente todo puede ser
            elegido por ti.
          </h3>
          <h3 class="comentario">
            Te asesoramos en cada una de las etapas de tu proyecto, ya sea que cuentes con un crédito o no, que tengas
            tu propio terreno o que elijas una de nuestras opciones en los fraccionamientos mas atractivos de la
            ciudad, cada una de las soluciones que te proporcionamos es personalizada.
          </h3>


          {{!-- <div class="boton">

            <p class="text">
              <img class="boton-img" src="/assets/img/casas_a_tu_medida.svg" alt="">
              CASAS A TU MEDIDA
            </p>
          </div> --}}
        </div>

      </div>

    </div>
  </div>
</div>