<div class="container" id="atumedidad-diagrama">
  <!-- TITULO -->
  <div class="diagrama-titulo">
    <div class="row">
      <p class="diagrama-texto">
        NUESTRO PROCESO
      </p>
    </div>
  </div>
  <!-- DIAGRAMA -->
  <div class="nuestro-proceso">
    <div class="row">
      <div class="col-12">
        <div class="procesos">
          <div class="row">
            <div class="col-4">
              <div class="proceso">
                <img src="/assets/img/atumedida-entrevista.svg" alt="">
              </div>
              <div>
                <p class="proceso-titulo">1. ENTREVISTA</p>
                <p class="proceso-comentario">Primer encuentro con nuestros clientes para conocer a fondo sus necesidades y requerimientos, sus gustos y el estilo de casa que buscan.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="proceso">
                <img src="/assets/img/atumedida-anteproyecto.svg" alt="">
              </div>
              <div class="flecha">
                <img src="/assets/img/flecha.svg" alt="">
              </div>
              <div>
                <p class="proceso-titulo">2. ANTEPROYECTO</p>
                <p class="proceso-comentario">Se elabora una primer propuesta que define los espacios requeridos, conjuntando las ideas de nuestro cliente con nuestro conocimiento.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="proceso">
                <img src="/assets/img/atumedida-feedback.svg" alt="">
              </div>
              <div class="flecha">
                <img src="/assets/img/flecha.svg" alt="">
              </div>
              <div>
                <p class="proceso-titulo">3. FEEDBACK</p>
                <p class="proceso-comentario">Se llevan a cabo una o varias sesiones para afinar junto con nuestro cliente el proyecto hasta llegar al definitivo.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="proceso">
                <img src="/assets/img/atumedida-asesoria.svg" alt="">
              </div>
              <div>
                <p class="proceso-titulo">4. ASESORÍA</p>
                <p class="proceso-comentario">Una vez autorizado el proyecto , se lleva a cabo la asesoría personalizada para obtener el financiamiento más conveniente a nuestro cliente.<br>Paralelamente, corresponde a Bautek gestionar la licencia de construcción.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="proceso">
                <img src="/assets/img/atumedida-construccion.svg" alt="">
              </div>
              <div class="flecha">
                <img src="/assets/img/flecha.svg" alt="">
              </div>
              <div>
                <p class="proceso-titulo">5. CONSTRUCCIÓN</p>
                <p class="proceso-comentario">Se realiza la construcción de la casa por personal calificado de Bautek.<br>El cliente participa durante el proceso dando su punto de vista haciendo modificaciones en caso de requerirlo.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="proceso">
                <img src="/assets/img/atumedida-entrega.svg" alt="">
              </div>
              <div class="flecha">
                <img src="/assets/img/flecha.svg" alt="">
              </div>
              <div>
                <p class="proceso-titulo">6. ENTREGA</p>
                <p class="proceso-comentario">Se realiza la entrega oficial de la casa, junto con la garantía y se da seguimiento junto con el cliente para garantizar su entera satisfacción.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>