<div id="contacto">
  <div class="pide-informes container-fluid" style="background-image: url(./assets/img/pide_informes.svg)">

    <div class="pide-informes-c">

    </div>
    <div class="row">
      <div class="col-12 pide-informes-t">
        <p class="formato-p parrafo1">Vive en la casa de tus sueños.</p>
        <p class="formato-p parrafo2">Comunícate con nosotros y con gusto te asesoraremos para lograr tu objetivo.</p>
        <p class="formato-p parrafo3">(844) 4 30 8516 y 430-8233</p>
      </div>
    </div>
  </div>
  <div class="container-fluid contacto-formulario">
    <div class="row">
      <h1 class="titulo">
        CONTÁCTANOS
      </h1>
    </div>
    <div class="row">
      <div class="col-4">
        <div id="map"></div>
        <script>
          var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: { lat: 25.464993, lng: -100.978545 },
              zoom: 15,
              disableDefaultUI: true,
              styles: [{ "featureType": "water", "elementType": "geometry", "stylers": [{ "color": "#e9e9e9" }, { "lightness": 17 }] }, { "featureType": "landscape", "elementType": "geometry", "stylers": [{ "color": "#f5f5f5" }, { "lightness": 20 }] }, { "featureType": "road.highway", "elementType": "geometry.fill", "stylers": [{ "color": "#ffffff" }, { "lightness": 17 }] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{ "color": "#ffffff" }, { "lightness": 29 }, { "weight": 0.2 }] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{ "color": "#ffffff" }, { "lightness": 18 }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "color": "#ffffff" }, { "lightness": 16 }] }, { "featureType": "poi", "elementType": "geometry", "stylers": [{ "color": "#f5f5f5" }, { "lightness": 21 }] }, { "featureType": "poi.park", "elementType": "geometry", "stylers": [{ "color": "#dedede" }, { "lightness": 21 }] }, { "elementType": "labels.text.stroke", "stylers": [{ "visibility": "on" }, { "color": "#ffffff" }, { "lightness": 16 }] }, { "elementType": "labels.text.fill", "stylers": [{ "saturation": 36 }, { "color": "#333333" }, { "lightness": 40 }] }, { "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "transit", "elementType": "geometry", "stylers": [{ "color": "#f2f2f2" }, { "lightness": 19 }] }, { "featureType": "administrative", "elementType": "geometry.fill", "stylers": [{ "color": "#fefefe" }, { "lightness": 20 }] }, { "featureType": "administrative", "elementType": "geometry.stroke", "stylers": [{ "color": "#fefefe" }, { "lightness": 17 }, { "weight": 1.2 }] }]

            });
            var party_location = {
              position: new google.maps.LatLng(25.464993, -100.978545),
              type: 'party'
            }
              ;
            console.log(party_location.position);
            var currentMarker = new google.maps.Marker({
              position: party_location.position,
              map: map,
            });
            map.setZoom(14);
            map.panTo(currentMarker.position);
          }
        </script>
        
      </div>
      <div class="col-4">
        <div class="informacion">
          <div class="row no-gutters">
            <div class="col-2 icon-cont">
              <img class="icono" src="./assets/img/direccion.svg" alt="">
            </div>
            <div class="col-10">
              <p class="texto">

                Juan Pablo Rodríguez # 120 - 4 Colonia Doctores. 25250 Saltillo, Coahuila. México
              </p>
            </div>
          </div>

        </div>
        <div class="informacion">
          <div class="row no-gutters">
            <div class="col-2 icon-cont">
              <img class="icono" src="./assets/img/horario.svg" alt="">
            </div>
            <div class="col-10">
              <p class="texto">

                Lun - Vie: 9am - 7pm<br>Sab: 9am - 12pm
              </p>
            </div>
          </div>

        </div>
        <div class="informacion">
          <div class="row no-gutters">
            <div class="col-2 icon-cont">
              <img class="icono" src="./assets/img/telefono.svg" alt="">
            </div>
            <div class="col-10">
              <p class="texto">

                01 844 430 8516
              </p>
            </div>
          </div>

        </div>
        <div class="informacion">
          <div class="row no-gutters">
            <div class="col-2 icon-cont">
              <img class="icono" src="./assets/img/correo.svg" alt="">
            </div>
            <div class="col-10">
              <p class="texto">

                ventas@bautek.com.mx
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-4">
        <div class="contact-form">
          <h1 class="title">Envíanos un mensaje:</h1>
          <form action="">
            <input class="nombre" type="text" name="name" placeholder="Nombre" />
            <input class="email" type="email" name="e-mail" placeholder="E-mail" />
            <input class="telefono" type="tel" name="phone" placeholder="Teléfono" />
            <textarea class="comentarios" name="text" id="" rows="4" placeholder="Comentarios:"></textarea>
            <button class="btn-send">ENVIAR</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>