<div id="contacto">
  <div class="pide-informes container-fluid">

    <div class="pide-informes-c">

    </div>
    <div class="pide-informes-i">
      <img src="/assets/img/pide-informes.jpg" alt="">
    </div>
    <div class="row">
      <div class="col-12 pide-informes-t">
        <p class="formato-p parrafo1">Vive en la casa de tus sueños.</p>
        <p class="formato-p parrafo2">Comunícate con nosotros y con gusto te asesoraremos para lograr tu objetivo.</p>
        <p class="formato-p parrafo3">(844) 430-8516 y 430-8233</p>
      </div>
    </div>
  </div>
  <div class="container-fluid contacto-formulario">
    <div class="row">
      <h1 class="titulo">
        CONTÁCTANOS
      </h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div id="map">
        </div>
        <script>

        </script>

      </div>
      <div class="col-xs-12 col-md-4">
        <div class="informacion">
          <div class="row no-gutters">
            <div class="col-2 icon-cont">
              <img class="icono" src="/assets/img/direccion.svg" alt="">
            </div>
            <div class="col-10">
              <p class="texto">
                <a href="https://goo.gl/maps/fcHnjuw8KQy" target="_blank">
                  Juan Pablo Rodríguez # 120 - 4 Colonia Doctores. 25250 Saltillo, Coahuila. México
                </a>
              </p>
            </div>
          </div>

        </div>
        <div class="informacion">
          <div class="row no-gutters">
            <div class="col-2 icon-cont">
              <img class="icono" src="/assets/img/horario.svg" alt="">
            </div>
            <div class="col-10">
              <p class="texto">

                Lun - Vie: 9am - 7pm<br>Sab: 9am - 12pm
              </p>
            </div>
          </div>

        </div>
        <div class="informacion">
          <div class="row no-gutters">
            <div class="col-2 icon-cont">
              <img class="icono" src="/assets/img/telefono.svg" alt="">
            </div>
            <div class="col-10">
              <p class="texto">

                01 844 430 8516
              </p>
            </div>
          </div>

        </div>
        <div class="informacion">
          <div class="row no-gutters">
            <div class="col-2 icon-cont">
              <img class="icono" src="/assets/img/correo.svg" alt="">
            </div>
            <div class="col-10">
              <p class="texto">
                info@bautek.com.mx
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-4 ">
        <div class="contact-form" id="form-contacto">
          <h1 class="title">Envíanos un mensaje:</h1>
          <form action="">
            <input id="contacto-nombre" class="nombre" type="text" name="name" placeholder="Nombre" />
            <input id="contacto-email" class="email" type="email" name="e-mail" placeholder="E-mail" />
            <input id="contacto-tel" class="telefono" type="tel" name="phone" placeholder="Teléfono" />
            <textarea id="contacto-msg" class="comentarios" name="text" id="" rows="4" placeholder="Comentarios:"></textarea>
            <p id="contacto-error"></p>
            <a class="btn-send" id="form-contacto-send">ENVIAR</a>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>