<div class="container-fluid" id="detalle-descripcion">
  <div class="row servicio">
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <p class="titulo">MODELO 1:<br>LOREM IPSUM</p>
          <p class="subtitulo">Aprovecha la preventa!</p>
          <p class="comentario">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="row">
            <div class="col-4">
              <p class="detalle-1">Ubicación:</p>
            </div>
            <div class="col-8">
              <p class="detalle-2">Saltillo, Coahuila</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <p class="detalle-1">Dirección:</p>
            </div>
            <div class="col-8">
              <p class="detalle-2">Lorem Ipsum</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <p class="detalle-1">Construcción:</p>
            </div>
            <div class="col-8">
              <p class="detalle-2">220 m2</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <p class="detalle-1">Terreno:</p>
            </div>
            <div class="col-8">
                <p class="detalle-2">200 m2</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <p class="detalle-1">Plantas:</p>
            </div>
            <div class="col-8">
              <p class="detalle-2">2</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <p class="detalle-1">Recámaras:</p>
            </div>
            <div class="col-8">
              <p class="detalle-2">3 Recámaras</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <p class="detalle-1">Baños:</p>
            </div>
            <div class="col-8">
              <p class="detalle-2">3 1/2 baños</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <p class="detalle-1">Inversión:</p>
            </div>
            <div class="col-8">
              <p class="detalle-2">Desde $3’500,000</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="subtitulo-2">CARACTERÍSTICAS DE TU NUEVA CASA</p>
              <!-- <ul> -->
              <li>
                <p class="comentario-2">Cochera para 2 autos</p>
              </li>
              <li>
                <p class="comentario-2">Recibidor</p>
              </li>
              <li>
                <p class="comentario-2">Amplia cocina abierta con barra</p>
              </li>
              <li>
                <p class="comentario-2">Sala / Comedor</p>
              </li>
              <li>
                <p class="comentario-2">Bodega</p>
              </li>
              <li>
                <p class="comentario-2">Lavandería</p>
              </li>
              <li>
                <p class="comentario-2">Estancia familiar</p>
              </li>
              <li>
                <p class="comentario-2">Terraza con jardín</p>
              </li>
              <li>
                <p class="comentario-2">Recámara principal en planta baja</p>
              </li>
              <li>
                <p class="comentario-2">Walk-in closet equipado en recámara principal</p>
              </li>
              <li>
                <p class="comentario-2">Amplios closets en recámaras de planta alta</p>
              </li>
              <li>
                <p class="comentario-2">Aislamiento térmico en azotea</p>
              </li>
              <li>
                <p class="comentario-2">Placas de mármol y canceles de vidrio templado en los baños</p>
              </li>
              <li>
                <p class="comentario-2">Piso porcelánico</p>
              </li>
              <!-- </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
    </div>
  </div>
</div>