<div class="container" id="detalle-descripcion">
  <div class="row">
    <div class="col-5">
      <div class="detalle-izquierdo">
        <div class="row">
          <div class="col-12">
            <p class="titulo">MODELO 1:<br>LOREM IPSUM</p>
            <p class="subtitulo-1">Aprovecha la preventa!</p>
            <p class="comentario-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="row">
              <div class="col-4">
                <p class="detalle-1">Ubicación:</p>
              </div>
              <div class="col-8">
                <p class="detalle-2">Saltillo, Coahuila</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="detalle-1">Dirección:</p>
              </div>
              <div class="col-8">
                <p class="detalle-2">Lorem Ipsum</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="detalle-1">Construcción:</p>
              </div>
              <div class="col-8">
                <p class="detalle-2">220 m2</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="detalle-1">Terreno:</p>
              </div>
              <div class="col-8">
                  <p class="detalle-2">200 m2</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="detalle-1">Plantas:</p>
              </div>
              <div class="col-8">
                <p class="detalle-2">2</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="detalle-1">Recámaras:</p>
              </div>
              <div class="col-8">
                <p class="detalle-2">3 Recámaras</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="detalle-1">Baños:</p>
              </div>
              <div class="col-8">
                <p class="detalle-2">3 1/2 baños</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="detalle-1">Inversión:</p>
              </div>
              <div class="col-8">
                <p class="detalle-2">Desde $3’500,000</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="subtitulo-2">CARACTERÍSTICAS DE TU NUEVA CASA</p>
                <li>
                  <p class="comentario-2">Cochera para 2 autos</p>
                </li>
                <li>
                  <p class="comentario-2">Recibidor</p>
                </li>
                <li>
                  <p class="comentario-2">Amplia cocina abierta con barra</p>
                </li>
                <li>
                  <p class="comentario-2">Sala / Comedor</p>
                </li>
                <li>
                  <p class="comentario-2">Bodega</p>
                </li>
                <li>
                  <p class="comentario-2">Lavandería</p>
                </li>
                <li>
                  <p class="comentario-2">Estancia familiar</p>
                </li>
                <li>
                  <p class="comentario-2">Terraza con jardín</p>
                </li>
                <li>
                  <p class="comentario-2">Recámara principal en planta baja</p>
                </li>
                <li>
                  <p class="comentario-2">Walk-in closet equipado en recámara principal</p>
                </li>
                <li>
                  <p class="comentario-2">Amplios closets en recámaras de planta alta</p>
                </li>
                <li>
                  <p class="comentario-2">Aislamiento térmico en azotea</p>
                </li>
                <li>
                  <p class="comentario-2">Placas de mármol y canceles de vidrio templado en los baños</p>
                </li>
                <li>
                  <p class="comentario-2">Piso porcelánico</p>
                </li>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="subtitulo-3">SOBRE EL FRACCIONAMIENTO</p>
                <li>
                  <p class="comentario-2">Exclusivo fraccionamiento totalmente bardeado.</p>
                </li>
                <li>
                  <p class="comentario-2">Acceso controlado y cámaras de seguridad.</p>
                </li>
                <li>
                  <p class="comentario-2">Excelente ubicación con acceso a vialidades principales.</p>
                </li>
                <li>
                  <p class="comentario-2">Areas verdes y juegos infantiles.</p>
                </li>
                <li>
                  <p class="comentario-2">Servicios subterráneos.</p>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="detalle-derecho">
        <div class="row">
          <div class="col-12">
            <img class="detalle-imagen" src="/assets/img/imagen-detalle-1.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="detalle-social facebook">
                <img src="/assets/img/social-f.svg" alt="">
              </div>
              <div class="detalle-social twitter">
                <img src="/assets/img/social-t.svg" alt="">
              </div>
              <div class="detalle-social whatsapp">
                <img src="/assets/img/social-w.svg" alt="">
              </div>
              <div class="detalle-social share">
                <img src="/assets/img/social-s.svg" alt="">
              </div>
              <div class="detalle-social mail">
                <img src="/assets/img/social-m.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detalle-galeria">
    <div class="row">
      <div class="col-12">
        <p class="titulo">PLANOS DE LA CASA</p>
        <div class="galeria">
          <img class="plano" src="/assets/img/detalle-plano-1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>