<div class="seccion" id="detalle-intro">
  <div class="contenedor section">

    {{!-- SLIDE DETALLE --}}
    <div class="slide cont-principal" style="background-image: url(/assets/img/slide-detalle.jpg)">
      <div>
        <h1 class="titulo">MODELO 1:<br>LOREM IPSUM</h1>
      </div>
      <div>
        <h3 class="comentario">220 m2 de construcción. 3 recámaras 3 1/2 baños.<br>PREVENTA: Casas desde  $3’500,000 </h3>
      </div>
    </div>

  </div>
  <div class="breadcrumb">
    <p>
      INICIO <img src="/assets/img/breadcrumb-arrow.svg" alt=""> CASAS EN VENTA
    </p>
  </div>
</div>
<script>
  new fullpage("#detalle-intro", {
    licenseKey: "OPEN-SOURCE-GPLV3-LICENSE",
    autoScrolling: false,
    fitToSection: false,
  });
</script>