<div id="menu">
  <div class="menu-btn">
    <img src="/assets/img/menu-btn.svg" alt="">
  </div>
  <div class="menu-btn hide">
    <img src="/assets/img/menu-btn.svg" alt="">
  </div>
  <div class="logo" onclick="na">
    <img src="/assets/img/bautek-logo.svg" alt="">
  </div>
</div>