<div id="menu">
  <div class="menu-btn">
    <img src="/assets/img/menu-btn.svg" alt="">
  </div>
  <div class="menu-btn hide">
    <img src="/assets/img/menu-btn.svg" alt="">
  </div>
  <div class="logo" onclick="location.href='/';">
    <img src="/assets/img/bautek-logo.svg" alt="">
  </div>

</div>
<a id="whatsapp" href="https://wa.me/528443003063" target="_blank">
  <img src="/assets/img/whatsapp.svg" alt="">
</a>
<div id="menu-overlay">
  <div class="close">
    <img src="/assets/img/menu-close.svg" alt="">
  </div>
  <ul class="menu-items">
    <li class="item nivel1">
      <a href="/">INICIO</a>
    </li>
    <li class="item nivel1">
      <a href="/a-tu-medida">CASAS A<br>TU MEDIDA </a>
    </li>
    <li class="item nivel1">
      <a href="/en-venta">EN VENTA</a>
    </li>
    <li class="item nivel1">
      <a href="/asesoria">ASESORIA DE CRÉDITO</a>
    </li>
    <li class="item nivel1">
      <a href="/somos-bautek">SOMOS BAUTEK</a>
    </li>


  </ul>
</div>