<div class="container-fluid" id="fraccionamiento-servicios">
  <div class="row servicio principal no-gutters">
    <div class="col-6">
      <div class="texto-secc">
        <div class="texto-contenedor">
          <h1 class="titulo">RINCÓN DE ALCÁNTARA </h1>
          <h2 class="subtitulo">
            Vive los mejores momentos de tu vida en tu nueva casa.
          </h2>
          <h3 class="comentario">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </h3>
        </div>
      </div>
    </div>
    <div class="col-6 imagen-secc" style="background-image: url(/assets/img/asesoria_inversion.jpg)">
      <div class="rollover-secc">
        <img src="/assets/img/mas.svg" alt="">
      </div>
    </div>
  </div>
</div>