<div class="container-fluid" id="fraccionamiento-servicios">
  <div class="row servicio principal no-gutters">
    <div class="col-5">
      <div class="texto-secc">
        <div class="texto-contenedor">
          <h1 class="titulo">RINCÓN DE ALCÁNTARA </h1>
          <h2 class="subtitulo">
            Vive los mejores momentos de tu vida en tu nueva casa.
          </h2>
          <h3 class="comentario">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
          </h3>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="detalle-derecho">
        <div class="row">
          <div class="col-12">
            <img class="detalle-imagen" src="/assets/img/bautek_gris_grande.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="detalle-social facebook">
                <img src="/assets/img/social-f.svg" alt="">
              </div>
              <div class="detalle-social twitter">
                <img src="/assets/img/social-t.svg" alt="">
              </div>
              <div class="detalle-social whatsapp">
                <img src="/assets/img/social-w.svg" alt="">
              </div>
              <div class="detalle-social share">
                <img src="/assets/img/social-s.svg" alt="">
              </div>
              <div class="detalle-social mail">
                <img src="/assets/img/social-m.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row servicio gris no-gutters">
    <div class="col-6 imagen-secc" style="background-image: url(/assets/img/fracc-modelo-1.jpg);">
      <a class="rollover-secc" href="/inmueble/modelo-1">
        <img src="/assets/img/mas.svg" alt="">
      </a>
    </div>
    <div class="col-6">
      <div class="texto-secc">
        <div class="texto-contenedor">
          <h1 class="titulo">MODELO 1</h1>
          <h3 class="comentario">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </h3>
          <a class="boton" href="/inmueble/modelo-1">
            <p class="text">
              CONOCER MÁS
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row servicio naranja no-gutters">
    <div class="col-6">
      <div class="texto-secc">
        <div class="texto-contenedor">
          <h1 class="titulo">MODELO 2</h1>
          <h3 class="comentario">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </h3>
          <a class="boton" href="/inmueble/modelo-2">
            <p class="text">
              CONOCER MÁS
            </p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-6 imagen-secc" style="background-image: url(/assets/img/fracc-modelo-2.jpg);">
      <a class="rollover-secc" href="/inmueble/modelo-2">
        <img src="/assets/img/mas.svg" alt="">
      </a>
    </div>
  </div>
</div>