{{#with global}}
  <div class="container" id="galeria">
    <div class="row">
      <div class="col-12">
        <h1 class="seccion-titulo">{{titulo}}</h1>
        <p class="seccion-descripcion">{{descripcion}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          {{#each album}}
          <div class="row">
            <div class="album">
              {{#each imagenes}}
                <div class="col-4">
                  <div class="img-conainer">
                      <div class="imagenes">
                          <img class="imagen" src="{{imagen}}" alt="">
                          <div class="rollover-gal">
                            <img src="/assets/img/mas.svg" alt="">
                          </div>
                      </div>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    
  </div>
{{/with}}