<div id="homepage">
	<div class="contenedor" style="background-image: url(./assets/img/background-homepage.jpg)">
		<div class="cont-principal">
			<div class="subtitulo">
				<h2>EN BAUTEK</h2>
			</div>
			<div class="titulo">
				<h1>CONSTRUÍMOS LA CASA<br>DE TUS SUEÑOS</h1>
			</div>
			<div class="comentario">
				<h3>Comprueba que somos la mejor opción para construir tu hogar en Saltillo</h3>
			</div>
			<button class="btn">CONOCER MÁS</button>
		</div>
	</div>

	<div class="contenedor-medio-izq">
		<div class="imagen-secc">
			<img src="./assets/img/imagen_seccion1.jpg" alt="">
			<div class="rollover-secc">
				<img src="./assets/img/rollover_seccion.png" alt="">
			</div>
		</div>
		<div class="text-secc">
			<div class="titulo">
				<h1>UN NUEVO COMIENZO</h1>
			</div>
			<div class="comentario">
				<h3>
					Una casa no es sólo un lugar en donde habitar, es el espacio donde se crean memorias y experiencias que marcan
					nuestras vidas. En Bautek garantizamos la satisfacción total de tu proyecto y te asesoramos en cada uno de los
					pasos para llevarlo a cabo desde el comienzo.
				</h3>
			</div>
			<button class="btn">CASAS A TU MEDIDA</button>
		</div>
	</div>

	<div class="contenedor-medio-der">
		<div class="imagen-secc">
			<img src="./assets/img/imagen_seccion2.jpg" alt="">
			<div class="rollover-secc">
				<img src="./assets/img/rollover_seccion.png" alt="">
			</div>
		</div>
		<div class="text-secc">
			<div class="titulo">
				<h1>VIVE COMO TE MERECES</h2>
			</div>
			<div class="comentario">
				<h3>
					Cuidamos hasta el más minimo detalle, utilizando sólo los mejores materiales y finos acabados para dar vida a tu
					nuevo hogar. Conoce nuestras casas ubicadas en los fraccionamientos mas atractivos de la ciudad.
				</h3>
			</div>
			<button class="btn">CASAS EN VENTA</button>
		</div>
	</div>

	<div class="contenedor-medio-izq">
		<div class="imagen-secc">
			<img src="./assets/img/imagen_seccion3.jpg" alt="">
			<div class="rollover-secc">
				<img src="./assets/img/rollover_seccion.png" alt="">
			</div>
		</div>
		<div class="text-secc">
			<div class="titulo">
				<h1>LA MEJOR VERSIÓN</h2>
			</div>
			<div class="comentario">
				<h3>
					Trabajamos para ofrecerte el mejor servicio desde el inicio del proyecto asesorando de manera personalizada tu
					caso y proponiendo los planes de financiamiento que mejor se adecuen a tu presupuesto.
				</h3>
			</div>
			<button class="btn">ASESORÍA DE CRÉDITO</button>
		</div>
	</div>

	<div class="contenedor">
		<div class="row">
			<div class="imagen-gal col-4">
				<img src="./assets/img/imagen_galeria1.jpg" alt="">
				<div class="rollover-gal">
					<img src="./assets/img/rollover_galeria.png" alt="">
				</div>
			</div>
			<div class="imagen-gal col-4">
				<img src="./assets/img/imagen_galeria2.jpg" alt="">
				<div class="rollover-gal">
					<img src="./assets/img/rollover_galeria.png" alt="">
				</div>
			</div>
			<div class="imagen-gal col-4">
				<img src="./assets/img/imagen_galeria3.jpg" alt="">
				<div class="rollover-gal">
					<img src="./assets/img/rollover_galeria.png" alt="">
				</div>
			</div>
			<div class="imagen-gal col-4">
				<img src="./assets/img/imagen_galeria4.jpg" alt="">
				<div class="rollover-gal">
					<img src="./assets/img/rollover_galeria.png" alt="">
				</div>
			</div>
			<div class="imagen-gal col-4">
				<img src="./assets/img/imagen_galeria5.jpg" alt="">
				<div class="rollover-gal">
					<img src="./assets/img/rollover_galeria.png" alt="">
				</div>
			</div>
			<div class="imagen-gal col-4">
				<img src="./assets/img/imagen_galeria6.jpg" alt="">
				<div class="rollover-gal">
					<img src="./assets/img/rollover_galeria.png" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="contenedor-medio-izq">
		<div class="imagen-secc">
			<img src="./assets/img/imagen_anuncio.jpg" alt="">
		</div>
		<div class="text-secc">
			<div class="titulo">
				<h1>RINCÓN DE ALCÁNTARA</h1>
			</div>
			<div class="comentario">
				<h3>
					Con un estilo clásico, moderno y elegante, Rincón de Alcántara es el nuevo complejo familiar que combina la
					tranquilidad de la naturaleza con la conveniencia de una zona residencial estratégicamente ubicada.
				</h3>
			</div>
			<button class="btn">CONOCER MÁS</button>
		</div>
	</div>
	<!-- <div class="contenedor-medio">
		<img src="./assets/img/imagen_anuncio.jpg" alt="">
	</div> -->
</div>