<div id="homepage">
	<div class="contenedor" style="background-image: url(./assets/img/background-homepage.jpg)">
		<div class="cont-principal">
			<div>
				<h2 class="subtitulo">EN BAUTEK</h2>
			</div>
			<div>
				<h1 class="titulo">CONSTRUÍMOS LA CASA<br>DE TUS SUEÑOS</h1>
			</div>
			<div>
				<h3 class="comentario">Comprueba que somos la mejor opción para construir tu hogar en Saltillo</h3>
			</div>
			<button class="boton">CONOCER MÁS</button>
		</div>
	</div>
<!-- CASAS A TU MEDIDA -->
	<div class="contenedor-medio-1">
		<div class="imagen-secc col-6">
			<img src="./assets/img/imagen_seccion1.jpg" alt="">
			<div class="rollover-secc">
				<img src="./assets/img/rollover_seccion.png" alt="">
			</div>
		</div>
		<div class="text-secc col-6">
			<div class="row col-12">
				<h1 class="titulo">UN NUEVO COMIENZO</h1>
			</div>
			<div class="row col-12">
				<h3 class="comentario">
					Una casa no es sólo un lugar en donde habitar, es el espacio donde se crean memorias y experiencias que marcan
					nuestras vidas. En Bautek garantizamos la satisfacción total de tu proyecto y te asesoramos en cada uno de los
					pasos para llevarlo a cabo desde el comienzo.
				</h3>
			</div>
			<div class="row">
				<div class="boton">
					<div class="imagen-secc">
						<img src="/assets/img/casas_a_tu_medida.jpg" alt="">
					</div>
					<p class="text">CASAS A TU MEDIDA</p>
				</div>
			</div>
		</div>
	</div>
<!-- CASAS EN VENTA -->
	<div class="contenedor-medio-2">
		<div class="imagen-secc col-6">
			<img src="./assets/img/imagen_seccion2.jpg" alt="">
			<div class="rollover-secc">
				<img src="./assets/img/rollover_seccion.png" alt="">
			</div>
		</div>
		<div class="text-secc col-6">
			<div class="row col-12">
				<h1 class="titulo">VIVE COMO TE MERECES</h2>
			</div>
			<div class="row col-12">
				<h3 class="comentario">
					Cuidamos hasta el más minimo detalle, utilizando sólo los mejores materiales y finos acabados para dar vida a tu
					nuevo hogar. Conoce nuestras casas ubicadas en los fraccionamientos mas atractivos de la ciudad.
				</h3>
			</div>
			<div class="row">
				<button class="boton">
					<div class="imagen-secc">
						<img src="/assets/img/casas_en_venta.svg" alt="">
					</div>
					<p class="text">CASAS EN VENTA</p>
				</button>
			</div>
		</div>
	</div>
<!-- ASESORIA DE CREDITO -->
	<div class="contenedor-medio-3">
		<div class="imagen-secc col-6">
			<img src="./assets/img/imagen_seccion3.jpg" alt="">
			<div class="rollover-secc">
				<img src="./assets/img/rollover_seccion.png" alt="">
			</div>
		</div>
		<div class="text-secc col-6">
			<div class="row col-12">
				<h1 class="titulo">LA MEJOR VERSIÓN</h2>
			</div>
			<div class="row col-12">
				<h3 class="comentario">
					Trabajamos para ofrecerte el mejor servicio desde el inicio del proyecto asesorando de manera personalizada tu
					caso y proponiendo los planes de financiamiento que mejor se adecuen a tu presupuesto.
				</h3>
			</div>
			<div class="row col-12">
				<button class="boton">
					<div class="imagen-secc">
							<img src="/assets/img/asesoria_de_credito.svg" alt="">
					</div>
					<p class="text">ASESORÍA DE CRÉDITO</p>
				</button>
			</div>
		</div>
	</div>

	<div class="contenedor-galeria">
		<div class="row">
			<div class="imagen-gal col-4">
				<img src="./assets/img/imagen_galeria1.jpg" alt="">
				<div class="rollover-gal">
					<img src="./assets/img/rollover_galeria.png" alt="">
				</div>
			</div>
			<div class="imagen-gal col-4">
				<img src="./assets/img/imagen_galeria2.jpg" alt="">
				<div class="rollover-gal">
					<img src="./assets/img/rollover_galeria.png" alt="">
				</div>
			</div>
			<div class="imagen-gal col-4">
				<img src="./assets/img/imagen_galeria3.jpg" alt="">
				<div class="rollover-gal">
					<img src="./assets/img/rollover_galeria.png" alt="">
				</div>
			</div>
			<div class="imagen-gal col-4">
				<img src="./assets/img/imagen_galeria4.jpg" alt="">
				<div class="rollover-gal">
					<img src="./assets/img/rollover_galeria.png" alt="">
				</div>
			</div>
			<div class="imagen-gal col-4">
				<img src="./assets/img/imagen_galeria5.jpg" alt="">
				<div class="rollover-gal">
					<img src="./assets/img/rollover_galeria.png" alt="">
				</div>
			</div>
			<div class="imagen-gal col-4">
				<img src="./assets/img/imagen_galeria6.jpg" alt="">
				<div class="rollover-gal">
					<img src="./assets/img/rollover_galeria.png" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="contenedor-anuncio">
		<div class="imagen-secc col-6">
			<img src="./assets/img/imagen_anuncio.jpg" alt="">
		</div>
		<div class="text-secc col-6">
			<div>
				<h1 class="titulo">RINCÓN DE ALCÁNTARA</h1>
			</div>
			<div>
				<h3 class="comentario">
					Con un estilo clásico, moderno y elegante, Rincón de Alcántara es el nuevo complejo familiar que combina la
					tranquilidad de la naturaleza con la conveniencia de una zona residencial estratégicamente ubicada.
				</h3>
			</div>
			<button class="boton">CONOCER MÁS</button>
		</div>
	</div>
	<!-- <div class="contenedor-medio">
		<img src="./assets/img/imagen_anuncio.jpg" alt="">
	</div> -->
</div>