<div class="seccion" id="inicio-intro">
  <div class="contenedor section" style="background-image: url(./assets/img/background-homepage.jpg)">
    <div class="cont-principal">
      <div>
        <h2 class="subtitulo">EN BAUTEK</h2>
      </div>
      <div>
        <h1 class="titulo">CONSTRUÍMOS LA CASA<br>DE TUS SUEÑOS</h1>
      </div>
      <div>
        <h3 class="comentario">Comprueba que somos la mejor opción para construir tu hogar en Saltillo</h3>
      </div>
      <button class="boton">CONOCER MÁS</button>
    </div>

  </div>
  <div class="breadcrumb">
    <p>
      INICIO <img src="./assets/img/breadcrumb-arrow.svg" alt="">
    </p>
  </div>
</div>
<script>
  new fullpage("#inicio-intro", {
    licenseKey: "OPEN-SOURCE-GPLV3-LICENSE",
    autoScrolling: false,
  });

</script>