<div class="container-fluid" id="inicio-servicios">
  <!-- CASAS A TU MEDIDA -->
  <div class="row servicio no-gutters">
    <div class="col-6 imagen-secc" style="background-image: url(./assets/img/imagen_seccion1.jpg);">
      {{!-- <img class="servicio-img" src="./assets/img/imagen_seccion1.jpg" alt=""> --}}
      <div class="rollover-secc">
        <img src="./assets/img/mas.svg" alt="">
      </div>
    </div>
    <div class="col-6">
      <div class="texto-secc">

        <div class="texto-contenedor">
          <h1 class="titulo">UN NUEVO COMIENZO</h1>


          <h3 class="comentario">
            Una casa no es sólo un lugar en donde habitar, es el espacio donde se crean memorias y experiencias que
            marcan
            nuestras vidas. En Bautek garantizamos la satisfacción total de tu proyecto y te asesoramos en cada uno de
            los
            pasos para llevarlo a cabo desde el comienzo.
          </h3>


          <div class="boton">

            <p class="text">
              <img class="boton-img" src="./assets/img/casas_a_tu_medida.svg" alt="">
              CASAS A TU MEDIDA
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- CASAS EN VENTA -->
  <div class="row servicio naranja no-gutters">
    <div class="col-6">
      <div class="texto-secc">

        <div class="texto-contenedor">
          <h1 class="titulo">VIVE COMO TE MERECES</h1>


          <h3 class="comentario">
            Cuidamos hasta el más minimo detalle, utilizando sólo los mejores materiales y finos acabados para dar vida
            a tu
            nuevo hogar. Conoce nuestras casas ubicadas en los fraccionamientos mas atractivos de la ciudad.
          </h3>


          <div class="boton">

            <p class="text">
              <img class="boton-img" src="./assets/img/casas_en_venta.svg" alt="">
              CASAS A TU MEDIDA
            </p>
          </div>
        </div>

      </div>

    </div>
    <div class="col-6 imagen-secc" style="background-image: url(./assets/img/imagen_seccion2.jpg)">
      {{!-- <img class="servicio-img" src="./assets/img/imagen_seccion2.jpg" alt=""> --}}
      <div class="rollover-secc">
        <img src="./assets/img/mas.svg" alt="">
      </div>
    </div>

  </div>

  <!-- CASAS EN VENTA -->

  <!-- ASESORIA DE CREDITO -->
  <div class="row servicio no-gutters">
    <div class="col-6 imagen-secc" style="background-image: url(./assets/img/imagen_seccion3.jpg)">
      {{!-- <img class="servicio-img" src="./assets/img/imagen_seccion3.jpg" alt=""> --}}
      <div class="rollover-secc">
        <img src="./assets/img/mas.svg" alt="">
      </div>
    </div>
    <div class="col-6">
      <div class="texto-secc">

        <div class="texto-contenedor">
          <h1 class="titulo">LA MEJOR INVERSIÓN</h1>


          <h3 class="comentario">
            Trabajamos para ofrecerte el mejor servicio desde el inicio del proyecto asesorando de manera personalizada
            tu
            caso y proponiendo los planes de financiamiento que mejor se adecuen a tu presupuesto.
          </h3>


          <div class="boton">

            <p class="text">
              <img class="boton-img" src="./assets/img/asesoria_de_credito.svg" alt="">
              ASESORÍA DE CRÉDITO
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>






</div>