<div class="seccion" id="inicio-intro">
  <div class="contenedor section">
    {{!-- SLIDE EN BAUTEK --}}
    <div class="slide cont-principal" style="background-image: url(./assets/img/background-homepage.jpg)">
      <div>
        <h2 class="subtitulo">EN BAUTEK</h2>
      </div>
      <div>
        <h1 class="titulo">CONSTRUÍMOS LA CASA<br>DE TUS SUEÑOS</h1>
      </div>
      <div>
        <h3 class="comentario">Comprueba que somos la mejor opción para construir tu hogar en Saltillo</h3>
      </div>
      <div class="link">
        <p>
          <a href="#" class="boton">CONOCER MÁS</a>
        </p>
      </div>
    </div>

    {{!-- SLIDE LOQUEHACEMOS --}}
    <div class="slide cont-principal" style="background-image: url(./assets/img/slide-loquehacemos.jpg)">
      <div>
        <h2 class="subtitulo"></h2>
      </div>
      <div>
        <h1 class="titulo">LO QUE HACEMOS</h1>
      </div>
      <div>
        <h3 class="comentario">Innovación y calidad en construcción</h3>
      </div>
      <div class="link">
        <p>
          <a href="/loquehacemos" class="boton">CONOCER MÁS</a>
        </p>
      </div>
    </div>

    {{!-- SLIDE CASA --}}
    <div class="slide cont-principal" style="background-image: url(./assets/img/slide-casa.jpg)">
      <div>
        <h2 class="subtitulo">ÚLTIMAS CASAS EN HABITA</h2>
      </div>
      <div>
        <h1 class="titulo">EL MEJOR LUGAR PARA VIVIR<br>EN SALTILLO.</h1>
      </div>
      <div>
        <h3 class="comentario">Inversión desde $3’050,000</h3>
      </div>
      <div class="link">
        <p>
          <a href="/casa" class="boton">CONOCER MÁS</a>
        </p>
      </div>
    </div>

    {{!-- SLIDE FRACCIONAMIENTO --}}
    <div class="slide cont-principal" style="background-image: url(./assets/img/slide-casa.jpg)">
      <div>
        <h2 class="subtitulo">RINCÓN DE ALCÁNTARA.</h2>
      </div>
      <div>
        <h1 class="titulo">DONDE SE CREARÁN<br>NUEVOS RECUERDOS</h1>
      </div>
      <div>
        <h3 class="comentario">PREVENTA: Casas desde $3’500,000</h3>
      </div>
      <div class="link">
        <p>
          <a href="/alcantara" class="boton">CONOCER MÁS</a>
        </p>
      </div>
    </div>

  </div>
  <div class="breadcrumb">
    <p>
      INICIO <img src="./assets/img/breadcrumb-arrow.svg" alt="">
    </p>
  </div>
</div>
<script>
  new fullpage("#inicio-intro", {
    licenseKey: "OPEN-SOURCE-GPLV3-LICENSE",
    autoScrolling: false,
    fitToSection: false,
  });

</script>