<div class="container-fluid" id="inicio-servicios">
  <!-- CASAS A TU MEDIDA -->
  <div class="row servicio no-gutters">
    <div class="col-6 imagen-secc" style="background-image: url(/assets/img/atumedida-mediana.jpg);">
      <a class="rollover-secc" href="/atumedida">
        <img src="/assets/img/mas.svg" alt="">
      </a>
    </div>
    <div class="col-6">
      <div class="texto-secc">
        <div class="texto-contenedor">
          <h1 class="titulo">UN NUEVO COMIENZO</h1>
          <h3 class="comentario">
            Una casa no es sólo un lugar en donde habitar, es el espacio donde se crean memorias y experiencias que
            marcan
            nuestras vidas. En Bautek garantizamos la satisfacción total de tu proyecto y te asesoramos en cada uno de
            los
            pasos para llevarlo a cabo desde el comienzo.
          </h3>
          <a class="boton" href="/atumedida">
            <p class="text">
              CASAS A TU MEDIDA
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- CASAS EN VENTA -->
  <div class="row servicio naranja no-gutters">
    <div class="col-6">
      <div class="texto-secc">
        <div class="texto-contenedor">
          <h1 class="titulo">VIVE COMO TE MERECES</h1>
          <h3 class="comentario">
            Cuidamos hasta el más minimo detalle, utilizando sólo los mejores materiales y finos acabados para dar vida
            a tu
            nuevo hogar. Conoce nuestras casas ubicadas en los fraccionamientos mas atractivos de la ciudad.
          </h3>
          <a class="boton" href="/venta">
            <p class="text">
              EN VENTA
            </p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-6 imagen-secc" style="background-image: url(/assets/img/enventa-mediana.jpg)">
      <a class="rollover-secc" href="/venta">
        <img src="/assets/img/mas.svg" alt="">
      </div>
    </a>
  </div>
  <!-- ASESORIA DE CREDITO -->
  <div class="row servicio no-gutters">
    <div class="col-6 imagen-secc" style="background-image: url(/assets/img/asesoria-mediana.jpg)">
      <a class="rollover-secc" href="/asesoria">
        <img src="/assets/img/mas.svg" alt="">
      </a>
    </div>
    <div class="col-6">
      <div class="texto-secc">
        <div class="texto-contenedor">
          <h1 class="titulo">LA MEJOR INVERSIÓN</h1>
          <h3 class="comentario">
            Trabajamos para ofrecerte el mejor servicio desde el inicio del proyecto asesorando de manera personalizada
            tu
            caso y proponiendo los planes de financiamiento que mejor se adecuen a tu presupuesto.
          </h3>
          <a class="boton" href="/asesoria">
            <p class="text">
              ASESORÍA DE CRÉDITO
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>