<div class="container-fluid loquehacemos-desarrollos">
  <!-- DESARROLLOS -->
  {{!-- {{each desarrollos}} --}}
  <div class="row desarrollo no-gutters">
    <div class="col-6 desarrollos-imagen" style="background-image: url(/assets/img/desarrollos-habita-residencial.jpg);">
      <a class="rollover-secc" href="/fraccionamiento">
        <img src="/assets/img/mas.svg" alt="">
      </a>
    </div>
    <div class="col-6">
      <div class="desarrollos-texto">
        <div class="texto-contenedor">
          <h1 class="titulo">HABITA RESIDENCIAL</h1>
          <h3 class="comentario">
              Los Rodríguez<br>25200 Saltillo, Coah.
          </h3>
          <a class="boton" href="/fraccionamiento">
            <p class="text">
              CONOCE MÁS
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
  {{!-- {{/desarrollos}} --}}
  <div class="row desarrollo naranja no-gutters">
    <div class="col-6">
      <div class="desarrollos-texto">
        <div class="texto-contenedor">
          <h1 class="titulo">LOTES EN VILLANATURA</h1>
          <h3 class="comentario">
              Lorem Ipsum dolor sit amet<br>C.P. 00000
          </h3>
          <a class="boton" href="/fraccionamiento">
            <p class="text">
              CONOCE MÁS
            </p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-6 desarrollos-imagen" style="background-image: url(/assets/img/desarrollos-lotes-villanatura.jpg)">
      <a class="rollover-secc" href="/fraccionamiento">
        <img src="/assets/img/mas.svg" alt="">
      </div>
    </a>
  </div>
  <div class="row desarrollo gris no-gutters">
    <div class="col-6 desarrollos-imagen" style="background-image: url(/assets/img/desarrollos-rincon-alcantara.jpg)">
      <a class="rollover-secc" href="/fraccionamiento">
        <img src="/assets/img/mas.svg" alt="">
      </a>
    </div>
    <div class="col-6">
      <div class="desarrollos-texto">
        <div class="texto-contenedor">
          <h1 class="titulo">RINCÓN DE ALCÁNTARA</h1>
          <h3 class="comentario">
              Lorem Ipsum dolor sit amet<br>C.P. 00000
          </h3>
          <a class="boton" href="/fraccionamiento">
            <p class="text">
              CONOCE MÁS
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>