<div class="container-fluid" id="inicio-galeria">
  <div class="row">
    <div class="col-12">

      <h1 class="seccion-titulo">GALERÍA</h1>
      <p class="seccion-descripcion">Conoce algunos de nuestros desarrollos y descubre porque construir con nosotros es
        la mejor decisión.</p>

    </div>
  </div>
  <div class="row">
    <div class="galeria col-4">
      <img class="galeria-img" src="/assets/img/imagen_galeria1.jpg" alt="">
      <div class="rollover-gal">
        <img src="/assets/img/full.svg" alt="">
      </div>
    </div>
    <div class="galeria col-4">
      <img class="galeria-img" src="/assets/img/imagen_galeria2.jpg" alt="">
      <div class="rollover-gal">
        <img src="/assets/img/full.svg" alt="">
      </div>
    </div>
    <div class="galeria col-4">
      <img class="galeria-img" src="/assets/img/imagen_galeria3.jpg" alt="">
      <div class="rollover-gal">
        <img src="/assets/img/full.svg" alt="">
      </div>
    </div>
    <div class="galeria col-4">
      <img class="galeria-img" src="/assets/img/imagen_galeria4.jpg" alt="">
      <div class="rollover-gal">
        <img src="/assets/img/full.svg" alt="">
      </div>
    </div>
    <div class="galeria col-4">
      <img class="galeria-img" src="/assets/img/imagen_galeria5.jpg" alt="">
      <div class="rollover-gal">
        <img src="/assets/img/full.svg" alt="">
      </div>
    </div>
    <div class="galeria col-4">
      <img class="galeria-img" src="/assets/img/imagen_galeria6.jpg" alt="">
      <div class="rollover-gal">
        <img src="/assets/img/full.svg" alt="">
      </div>
    </div>
  </div>
</div>