<div class="container-fluid" id="loquehacemos-servicios">
  <div class="row mision no-gutters">
    <div>
      <h1 class="m-titulo">NUESTRA RAZÓN DE SER ERES TÚ</h1>
      <h2 class="m-subtitulo"> En Bautek sabemos lo importante que es para ti y tu familia vivir en la casa que siempre han soñado.</h2>
      <h3 class="m-comentario">Por esta razón, trabajamos para ofrecerte el mejor servicio y asesoramiento para que cumplas tu objetivo.<br>Conoce nuestros servicios</h3>
    </div>
  </div>
  <div class="row servicios no-gutters">
    <!-- CASAS A TU MEDIDA -->
    <div class="col-4 diseño">
      <div class="d-imagen" style="background-image: url(./assets/img/loquehacemos_servicios_diseño.svg);">
      </div>
      <div class="d-color">
      </div>
      <div class="d-texto">
        <img class="d-logo" src="./assets/img/loquehacemos_servicios_diseño_logo.svg" alt="">
        <p class="d-titulo">CASAS A TU MEDIDA</p>
        <p class="d-subtitulo">Diseñamos tu casa de acuerdo a tu gusto y  estilo</p>
      </div>
    </div>
    <!-- CASAS EN VENTA -->
    <div class="col-4 diseño">
      <div class="d-imagen" style="background-image: url(./assets/img/loquehacemos_servicios_diseño.svg);">
      </div>
      <div class="d-color">
      </div>
      <div class="d-texto">
        <img class="d-logo" src="./assets/img/loquehacemos_servicios_venta_logo.svg" alt="">
        <p class="d-titulo">CASAS A TU MEDIDA</p>
        <p class="d-subtitulo">Diseñamos tu casa de acuerdo a tu gusto y  estilo</p>
      </div>
    </div>
    <!-- ASESORIA DE CREDITO -->
    <div class="col-4 diseño">
      <div class="d-imagen" style="background-image: url(./assets/img/loquehacemos_servicios_diseño.svg);">
      </div>
      <div class="d-color">
      </div>
      <div class="d-texto">
        <img class="d-logo" src="./assets/img/loquehacemos_servicios_credito_logo.svg" alt="">
        <p class="d-titulo">CASAS A TU MEDIDA</p>
        <p class="d-subtitulo">Diseñamos tu casa de acuerdo a tu gusto y  estilo</p>
      </div>
    </div>
  </div>
</div>