<section class="seccion" id="loquehacemos-intro">
  <div class="contenedor" style="background-image: url(./assets/img/background-homepage.jpg)">
    <div class="cont-principal">
      <div>
        <h2 class="subtitulo">EN BAUTEK</h2>
      </div>
      <div>
        <h1 class="titulo">CONSTRUÍMOS LA CASA<br>DE TUS SUEÑOS</h1>
      </div>
      <div>
        <h3 class="comentario">Comprueba que somos la mejor opción para construir tu hogar en Saltillo</h3>
      </div>
      <button class="boton">CONOCER MÁS</button>
    </div>
  </div>
</section>