<div class="container-fluid" id="loquehacemos-servicios">
  <div class="row servicio no-gutters">
    <!-- CASAS A TU MEDIDA -->
    <div class="col-4 imagen-secc" style="background-image: url(./assets/img/imagen_seccion1.jpg);">
      {{!-- <img class="servicio-img" src="./assets/img/imagen_seccion1.jpg" alt=""> --}}
      <div class="rollover-secc">
        <img src="./assets/img/mas.svg" alt="">
      </div>
    </div>
    <!-- CASAS EN VENTA -->
    <div class="col-4 imagen-secc" style="background-image: url(./assets/img/imagen_seccion2.jpg)">
      {{!-- <img class="servicio-img" src="./assets/img/imagen_seccion2.jpg" alt=""> --}}
      <div class="rollover-secc">
        <img src="./assets/img/mas.svg" alt="">
      </div>
    </div>
    <!-- ASESORIA DE CREDITO -->
    <div class="col-4 imagen-secc" style="background-image: url(./assets/img/imagen_seccion3.jpg)">
      {{!-- <img class="servicio-img" src="./assets/img/imagen_seccion3.jpg" alt=""> --}}
      <div class="rollover-secc">
        <img src="./assets/img/mas.svg" alt="">
      </div>
    </div>
  </div>
</div>