<div class="container-fluid" id="quehay-mapa">
  
  <div class="row que-titulo">
    <h1 class="que-texto">
        ¿QUÉ HAY CERCA?
    </h1>
  </div>
  <div class="quehay">
    <div class="row">
      <!-- MENU -->
      <div class="col-5">
        <div class="quehay-menu">
          <div class="row">
            <div class="col-4">
              <div class="quehay-boton restaurantes">
                <img src="/assets/img/quehay-restaurantes.svg" alt="">
              </div>
              <div>
                <p class="quehay-texto">RESTAURANTES</p>
              </div>
            </div>
            <div class="col-4">
              <div class="quehay-boton cafeterias">
                <img src="/assets/img/quehay-cafeterias.svg" alt="">
              </div>
              <p class="quehay-texto">CAFETERIAS</p>
            </div>
            <div class="col-4">
              <div class="quehay-boton bares">
                <img src="/assets/img/quehay-bares.svg" alt="">
              </div>
              <p class="quehay-texto">BARES</p>
            </div>
            <div class="col-4">
              <div class="quehay-boton supermercados">
                <img src="/assets/img/quehay-supermercados.svg" alt="">
              </div>
              <div>
                <p class="quehay-texto">SUPERMERCADOS</p>
              </div>
            </div>
            <div class="col-4">
              <div class="quehay-boton escuelas">
                <img src="/assets/img/quehay-escuelas.svg" alt="">
              </div>
              <p class="quehay-texto">ESCUELAS</p>
            </div>
            <div class="col-4">
              <div class="quehay-boton hospitales">
                <img src="/assets/img/quehay-hospitales.svg" alt="">
              </div>
              <p class="quehay-texto">HOSPITALES</p>
            </div>
            <div class="col-4">
              <div class="quehay-boton gasolineras">
                <img src="/assets/img/quehay-gasolineras.svg" alt="">
              </div>
              <p class="quehay-texto">GASOLINERAS</p>
            </div>
            <div class="col-4">
              <div class="quehay-boton bancos">
                <img src="/assets/img/quehay-bancos.svg" alt="">
              </div>
              <p class="quehay-texto">BANCOS</p>
            </div>
            <div class="col-4">
              <div class="quehay-boton c-comerciales">
                <img src="/assets/img/quehay-c-comerciales.svg" alt="">
              </div>
              <div>
                <p class="quehay-texto">C. COMERCIALES</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- MAPA -->
      <div class="col-7">
        <div class="quehay-mapa" id="mapa">

        </div>
      </div>
    </div>
  </div>
</div>