<div class="container-fluid" id="quehay-mapa">
  
  <div class="row que-titulo">
    <h1 class="que-texto">
        ¿QUÉ HAY CERCA?
    </h1>
  </div>
  <div class="quehay">
    <div class="row">
      <!-- MENU -->
      <div class="col-5">
        <div class="quehay-menu">
          <div class="row">
            <div class="col-4">
              <div class="quehay-boton restaurantes">
                <img src="/assets/img/quehay-restaurantes.svg" alt="">
              </div>
              <div>
                <p class="quehay-texto">RESTAURANTES</p>
              </div>
            </div>
            <div class="col-4">
              <div class="quehay-boton cafeterias">
                <img src="/assets/img/quehay-cafeterias.svg" alt="">
              </div>
              <p class="quehay-texto">CAFETERIAS</p>
            </div>
            <div class="col-4">
              <div class="quehay-boton bares">
                <img src="/assets/img/quehay-bares.svg" alt="">
              </div>
              <p class="quehay-texto">BARES</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- MAPA -->
      <div class="col-7">
        <div class="quehay-mapa">
          <div class="row">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>