<div class="container-fluid ubicacion" id="quehay-mapa" data-lat="25.472472" data-lng="-100.934528">

  <div class="row que-titulo">
    <h1 class="que-texto">
      ¿QUÉ HAY CERCA?
    </h1>
  </div>
  <div class="quehay">
    <div class="row">
      <!-- MENU -->
      <div class="col-xs-12 col-md-4 order-2 order-md-1 ">
        <div class="quehay-menu">
          <div class="row">
            <div class="col-xs-6 col-md-4">
              <div class="quehay-boton servicio restaurantes servicio" data-servicio="restaurant">
                <img src="/assets/img/quehay-restaurantes.svg" alt="">
              </div>
              <div>
                <p class="quehay-texto">RESTAURANTES</p>
              </div>
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="quehay-boton servicio cafeterias" data-servicio="cafe">
                <img src="/assets/img/quehay-cafeterias.svg" alt="">
              </div>
              <p class="quehay-texto">CAFETERIAS</p>
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="quehay-boton servicio bares" data-servicio="bar">
                <img src="/assets/img/quehay-bares.svg" alt="">
              </div>
              <p class="quehay-texto">BARES</p>
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="quehay-boton servicio supermercados" data-servicio="supermarket">
                <img src="/assets/img/quehay-supermercados.svg" alt="">
              </div>
              <div>
                <p class="quehay-texto">SUPERMERCADOS</p>
              </div>
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="quehay-boton servicio escuelas" data-servicio="school">
                <img src="/assets/img/quehay-escuelas.svg" alt="">
              </div>
              <p class="quehay-texto">ESCUELAS</p>
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="quehay-boton servicio hospitales" data-servicio="hospital">
                <img src="/assets/img/quehay-hospitales.svg" alt="">
              </div>
              <p class="quehay-texto">HOSPITALES</p>
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="quehay-boton servicio gasolineras" data-servicio="gas_station">
                <img src="/assets/img/quehay-gasolineras.svg" alt="">
              </div>
              <p class="quehay-texto">GASOLINERAS</p>
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="quehay-boton servicio bancos" data-servicio="bank">
                <img src="/assets/img/quehay-bancos.svg" alt="">
              </div>
              <p class="quehay-texto">BANCOS</p>
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="quehay-boton servicio c-comerciales" data-servicio="shopping_mall">
                <img src="/assets/img/quehay-c-comerciales.svg" alt="">
              </div>
              <div>
                <p class="quehay-texto">C. COMERCIALES</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- MAPA -->
      <div class="col-xs-12 col-md-8 order-1 order-md-2">
        <div class="quehay-mapa" id="mapa">

        </div>
      </div>
    </div>
  </div>
</div>