<div class="seccion" id="somos-intro">
  <div class="contenedor section">

    {{!-- SLIDE SOMOS --}}
    <div class="slide cont-principal" style="background-image: url(/assets/img/slide-somos.jpg)">
      <div>
        <h1 class="titulo">SOMOS BAUTEK</h1>
      </div>
      <div>
        <h3 class="comentario">Innovación y calidad en construcción</h3>
      </div>
    </div>

  </div>
  <div class="breadcrumb">
    <p>
      INICIO <img src="/assets/img/breadcrumb-arrow.svg" alt=""> CASAS EN VENTA
    </p>
  </div>
</div>
<script>
  new fullpage("#somos-intro", {
    licenseKey: "OPEN-SOURCE-GPLV3-LICENSE",
    autoScrolling: false,
    fitToSection: false,
  });
</script>