<div class="container-fluid" id="somos-detalle">
  <div class="servicio">
    <div class="row">
      <div class="col-6">
        <div class="texto-secc">
          <div class="texto-contenedor">
            <h1 class="titulo">ACERCA DE NOSOTROS</h1>
            <h2 class="subtitulo">
                Construyendo en la confianza desde 2009
            </h2>
            <h3 class="comentario">
                Somos una empresa 100% Saltillense en constante crecimiento y evolución, comprometidos en otorgar excelencia y satisfacción a cada uno de nuestros clientes,  quienes depositan su confianza en nosotros, desarrollando proyectos con creatividad  e innovación a la medida de sus necesidades y su presupuesto.
            </h3>
          </div>
        </div>
      </div>
      <div class="col-6 imagen-secc" style="background-image: url(/assets/img/somos-imagen-1.jpg)">
        <div class="rollover-secc">
          <img src="/assets/img/mas.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="servicio">
    <div class="row">
      <div class="col-6 imagen-secc" style="background-image: url(/assets/img/somos-imagen-2.jpg)">
        <div class="rollover-secc">
          <img src="/assets/img/mas.svg" alt="">
        </div>
      </div>
      <div class="col-6">
        <div class="texto-secc">
          <div class="texto-contenedor">
            <h1 class="titulo">NUESTRO COMPROMISO</h1>
            <h3 class="comentario">
                Ofrecer el mejor servicio integral de construcción, buscando una relación a largo plazo con nuestros clientes basados en nuestros principios de:
            </h3>
            <div class="row">
              <div class="col-2">
                <div class="icono">
                  <img src="/assets/img/somos-icono-1.svg" alt="">
                </div>
              </div>
              <div class="col-10">
                <div class="parrafo">
                  <p class="comentario">Alta calidad de servicio</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <div class="icono">
                  <img src="/assets/img/somos-icono-2.svg" alt="">
                </div>
              </div>
              <div class="col-10">
                <div class="parrafo">
                  <p class="comentario">Costos competitivos</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <div class="icono">
                  <img src="/assets/img/somos-icono-3.svg" alt="">
                </div>
              </div>
              <div class="col-10">
                <div class="parrafo">
                  <p class="comentario">Profesionalismo y confiabilidad</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <div class="icono">
                  <img src="/assets/img/somos-icono-4.svg" alt="">
                </div>
              </div>
              <div class="col-10">
                <div class="parrafo">
                  <p class="comentario">Honestidad</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>