<div class="seccion" id="venta-intro">
  <div class="contenedor section">
    {{!-- SLIDE EN VENTA --}}
    <div class="slide cont-principal" style="background-image: url(/assets/img/slide-venta.jpg)">
      <div>
        <h2 class="subtitulo">
          <img src="/assets/img/slider-vector-venta.svg" alt="">
        </h2>
      </div>
      <div>
        <h1 class="titulo">EN VENTA</h1>
      </div>
      <div>
        <h3 class="comentario">En los mejores fraccionamientos al norte de la ciudad.</h3>
      </div>
      <!-- {{!-- <div class="link">
        <p>
          <a href="#" class="boton">CONOCER MÁS</a>
        </p>
      </div> --}} -->
    </div>

    {{!-- SLIDE FRACCIONAMIENTO --}}
    <div class="slide cont-principal" style="background-image: url(/assets/img/slide-alcantara.jpg)">
      <div>
        <h2 class="subtitulo">RINCÓN DE ALCÁNTARA.</h2>
      </div>
      <div>
        <h1 class="titulo">DONDE SE CREARÁN<br>NUEVOS RECUERDOS</h1>
      </div>
      <div>
        <h3 class="comentario">PREVENTA: Casas desde $3’500,000<br>Vive los mejores momentos de tu vida en tu nueva
          casa</h3>
      </div>
      <div class="link">
        <p>
          <a href="/fraccionamiento" class="boton">CONOCER MÁS</a>
        </p>
      </div>
    </div>

    {{!-- SLIDE LOREM IPSUM --}}
    <div class="slide cont-principal" style="background-image: url(/assets/img/slide-lorem-ipsum.jpg)">
      <!-- <div>
        <h2 class="subtitulo"></h2>
      </div> -->
      <div>
        <h1 class="titulo">MODELO 2:<br>LOREM IPSUM</h1>
      </div>
      <div>
        <h3 class="comentario">220 m2 de construcción. 3 recámaras 3 1/2 baños.<br>PREVENTA: Casas desde $3’500,000</h3>
      </div>
      <div class="link">
        <p>
          <a href="/inmueble/modelo-2" class="boton">CONOCER MÁS</a>
        </p>
      </div>
    </div>

    {{!-- SLIDE CASA DE UN PISO EN HABITA --}}
    <div class="slide cont-principal" style="background-image: url(/assets/img/slide-casa-habita-1.jpg)">
      <!-- <div>
        <h2 class="subtitulo"></h2>
      </div> -->
      <div>
        <h1 class="titulo">CASA DE UN PISO<br>EN HABITA</h1>
      </div>
      <div>
        <h3 class="comentario">190 m2 de construcción. 2 recámaras 2 1/2 baños.<br>Inversión: $ 3’050,000</h3>
      </div>
      <div class="link">
        <p>
          <a href="/inmueble/casa-habita-1" class="boton">CONOCER MÁS</a>
        </p>
      </div>
    </div>

    {{!-- SLIDE CASA DE DOS PISOS EN HABITA --}}
    <div class="slide cont-principal" style="background-image: url(/assets/img/slide-casa-habita-2.jpg)">
      <!-- <div>
        <h2 class="subtitulo"></h2>
      </div> -->
      <div>
        <h1 class="titulo">CASA DE DOS PISOS<br>EN HABITA</h1>
      </div>
      <div>
        <h3 class="comentario">242 m2 de construcción. 3 recámaras 3 1/2 baños.<br>Inversión: $ 3’750,000</h3>
      </div>
      <div class="link">
        <p>
          <a href="/inmueble/casa-habita-2" class="boton">CONOCER MÁS</a>
        </p>
      </div>
    </div>

    <!-- {{!-- SLIDE LOQUEHACEMOS --}}
    <div class="slide cont-principal" style="background-image: url(/assets/img/slide-loquehacemos.jpg)">
      <div>
        <h2 class="subtitulo"></h2>
      </div>
      <div>
        <h1 class="titulo">LO QUE HACEMOS</h1>
      </div>
      <div>
        <h3 class="comentario">Innovación y calidad en construcción</h3>
      </div>
      <div class="link">
        <p>
          <a href="/loquehacemos" class="boton">CONOCER MÁS</a>
        </p>
      </div>
    </div> -->





  </div>
  <div class="breadcrumb">
    <p>
      INICIO <img src="/assets/img/breadcrumb-arrow.svg" alt=""> CASAS EN VENTA
    </p>
  </div>
  {{#>agendacita}}
  {{/agendacita}}
</div>