<div class="container-fluid" id="venta-servicios">
  <!-- VIVE COMO TE MERECES -->
  <div class="row servicio principal no-gutters">
    <div class="col-5">
      <div class="texto-secc">
        <div class="texto-contenedor">
          <h1 class="titulo">VIVE COMO TE MERECES</h1>
          <h2 class="subtitulo">
            Contamos con lotes y casas en venta en los mejores fraccionamientos en la mejor ubicación de la ciudad.
          </h2>
          <h3 class="comentario">
            Cuidamos hasta el más minimo detalle, utilizando sólo los mejores materiales y finos acabados para dar vida
            a tu nuevo hogar. Conoce nuestras casas ubicadas en los fraccionamientos mas atractivos de la ciudad.
          </h3>
        </div>
      </div>
    </div>
    <div class="col-7 imagen-secc" style="background-image: url(/assets/img/enventa-grande.jpg)">
    </div>
  </div>
  <!-- RINCON DE ALCANTARA -->
  <div class="row servicio gris no-gutters">
    <div class="col-6 imagen-secc" style="background-image: url(/assets/img/rincon_alcantara.jpg)">
      <a class="rollover-secc" href="/rincon-de-alcantara">
        <img src="/assets/img/mas.svg" alt="">
      </a>
    </div>
    <div class="col-6">
      <div class="texto-secc">
        <div class="texto-contenedor">
          <h1 class="titulo">RINCÓN DE ALCÁNTARA</h1>
          <h3 class="comentario">
            Con un estilo clásico, moderno y elegante, Rincón de Alcántara es el nuevo complejo familiar que combina la
            tranquilidad de la naturaleza con la conveniencia de una zona residencial estratégicamente ubicada.
          </h3>
          <a class="boton" href="/rincon-de-alcantara">
            <p class="text">
              CONOCER MÁS
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- CASA DE UN PISO EN HABITA -->
  <div class="row servicio naranja no-gutters">
    <div class="col-6">
      <div class="texto-secc">
        <div class="texto-contenedor">
          <h1 class="titulo">CASA DE UN PISO EN HABITA</h1>
          <h3 class="comentario">
            Hermosa casa de un piso con finos acabados, de 190 m2 de construcción de 2 recámaras y 2 1/2 baños, ubicada
            en uno de los fraccionamientos más atractivos al norte de la ciudad: Habita Residencial.
          </h3>
          <a href="/inmueble/casa-habita-1" class="boton">
            <p class="text">
              CONOCER MÁS
            </p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-6 imagen-secc" style="background-image: url(/assets/img/casa_habita.jpg)">
      <a href="/inmueble/casa-habita-1" class="rollover-secc">
        <img src="/assets/img/mas.svg" alt="">
      </a>
    </div>
  </div>
  <!-- CASA DE 2 PISOS EN HABITA -->
  <div class="row servicio gris no-gutters">
    <div class="col-6 imagen-secc" style="background-image: url(/assets/img/casa_habita_2.jpg)">
      <a href="/inmueble/casa-habita-2" class="rollover-secc">
        <img src="/assets/img/mas.svg" alt="">
      </a>
    </div>
    <div class="col-6">
      <div class="texto-secc">
        <div class="texto-contenedor">
          <h1 class="titulo">CASA 2 PISOS EN HABITA</h1>
          <h3 class="comentario">
            Preventa casa de dos plantas en Habita Residencial. 242 m2 de construcción, 3 recámaras, 3 1/2 baños,
            exclusivos acabados. Recámara principal en planta baja. Para entrega en Abril de 2019.
          </h3>
          <a href="/inmueble/casa-habita-2" class="boton">
            <p class="text">
              CONOCER MÁS
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- LOTES EN VENTA HABITA-->
  <div class="row servicio naranja no-gutters">
    <div class="col-6">
      <div class="texto-secc">
        <div class="texto-contenedor">
          <h1 class="titulo">LOTES EN VENTA<br>HABITA</h1>
          <h3 class="comentario">
            Construímos la casa de tus sueños en los mejores fraccionamientos al norte de la ciudad. Contamos con
            terrenos de 220 hasta 260 m2 en Habita Residencial y Villa Natura.
          </h3>
          <a href="/inmueble/lote-habita" class="boton">
            <p class="text">
              CONOCER MÁS
            </p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-6 imagen-secc" style="background-image: url(/assets/img/lotes_disponibles.jpg)">
      <a href="/inmueble/lote-habita" class="rollover-secc">
        <img src="/assets/img/mas.svg" alt="">
      </a>
    </div>
  </div>
  <!-- LOTES EN VENTA VILLANATURA-->
  <div class="row servicio no-gutters">
    <div class="col-6 imagen-secc" style="background-image: url(/assets/img/lotes-villanatura-grande.jpg)">
      <a href="/inmueble/lote-villanatura" class="rollover-secc">
        <img src="/assets/img/mas.svg" alt="">
      </a>
    </div>
    <div class="col-6">
      <div class="texto-secc">
        <div class="texto-contenedor">
          <h1 class="titulo">LOTES EN VENTA<br>VILLANATURA</h1>
          <h3 class="comentario">
            Construímos la casa de tus sueños en los mejores fraccionamientos al norte de la ciudad. Contamos con
            terrenos de 220 hasta 260 m2 en Habita Residencial y Villa Natura.
          </h3>
          <a href="/inmueble/lote-villanatura" class="boton">
            <p class="text">
              CONOCER MÁS
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>