{{#>cuerpo}}
<div id="detalle">
	{{#>detalle-intro}}
	{{/detalle-intro}}
	{{#>detalle-descripcion}}
	{{/detalle-descripcion}}
	{{#>detalle-galeria}}
  {{/detalle-galeria}}
  {{#>quehay-mapa}}
  {{/quehay-mapa}}
</div>
{{/cuerpo}}