{{#>cuerpo}}
<div id="inicio">
	{{#>inicio-intro}}
	{{/inicio-intro}}
	<div id="ani-servicios">
		{{#>inicio-servicios}}
		{{/inicio-servicios}}
	</div>
	{{#>galeria}}
	{{/galeria}}
	{{#>anuncio}}
	{{/anuncio}}
</div>
{{/cuerpo}}