{{#>cuerpo}}
<div id="inicio">
	{{#>inicio-intro}}
	{{/inicio-intro}}
	{{#>servicios}}
	{{/servicios}}
	{{#>venta-servicios}}
	{{/venta-servicios}}
	{{#>galeria}}
	{{/galeria}}
	{{!-- {{#>anuncio}}
	{{/anuncio}} --}}
</div>
{{/cuerpo}}