{{#>cuerpo}}
<div id="loquehacemos">
  {{#>loquehacemos-intro}}
  {{/loquehacemos-intro}}
  {{#>servicios}}
  {{/servicios}}
  {{#>loquehacemos-galeria}}
  {{/loquehacemos-galeria}}
  {{#>loquehacemos-desarrollos}}
  {{/loquehacemos-desarrollos}}
  </div>
{{/cuerpo}}