{{#>cuerpo}}
<div id="loquehacemos">
  {{#>loquehacemos-intro}}
  {{/loquehacemos-intro}}
  {{#>servicios}}
  {{/servicios}}
  {{#>loquehacemos-galeria}}
  {{/loquehacemos-galeria}}
  {{#>loquehacemos-mapa}}
  {{/loquehacemos-mapa}}
  </div>
{{/cuerpo}}