{{#>cuerpo}}
<div id="loquehacemos">
  {{#>loquehacemos-intro}}
  {{/loquehacemos-intro}}
  {{#>servicios}}
  {{/servicios}}
  {{#>galeria}}
  {{/galeria}}
  {{#>loquehacemos-mapa}}
  {{/loquehacemos-mapa}}
</div>
{{/cuerpo}}