{{#>cuerpo}}
<div id="fraccionamiento">
	{{#>fraccionamiento-intro}}
	{{/fraccionamiento-intro}}
	{{#>fraccionamiento-servicios}}
	{{/fraccionamiento-servicios}}
	{{#>quehay-mapa}}
	{{/quehay-mapa}}
</div>
{{/cuerpo}}