{{#>cuerpo}}
<div id="venta">
	{{#>venta-intro}}
	{{/venta-intro}}
	{{#>venta-servicios}}
	{{/venta-servicios}}
	{{#>galeria}}
	{{/galeria}}
	{{#>loquehacemos-mapa}}
	{{/loquehacemos-mapa}}
</div>
{{/cuerpo}}