{{#>cuerpo}}
    <div id="inmueble">
        {{#>inmueble-intro}}
        {{/inmueble-intro}}
        {{#>inmueble-descripcion}}
        {{/inmueble-descripcion}}
        {{#>inmueble-galeria}}
        {{/inmueble-galeria}}
        {{#>quehay-mapa}}
        {{/quehay-mapa}}
        {{#>tendencias}}
        {{/tendencias}}
    </div>
{{/cuerpo}}